html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
#home {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(121, 38, 38,0.5)), url(../assets/tempBg.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}
#homeLogo {
    margin-top: 30vh;
    height: 10vh;
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hashTag {
    font-size: 3vh;
    font-style: italic;
}
#scrollDownBtn {
    position: absolute;
    bottom: 15vh;
    margin: 0 auto;
    animation: moveUpDown 2s ease infinite;
    -webkit-animation: moveUpDown 2s ease infinite;
}
#about {
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    text-align: center;
}
#about h1 {
    font-size: 2.5rem;
}
#about p {
    font-size: 3vh;
    padding: 0 5vw;
}


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vh);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vh);
    }
    100% {
        transform: translateY(0);
    }
}