html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
#branding {

}
#homeLogo {
    height: 10vh;
    width: auto;
    filter: brightness(0) invert(1);
}
.hashTag {
    font-size: 3vh;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 10px;
}
#scrollDownBtn {
    position: absolute;
    bottom: 15vh;
    margin: 0 auto;
    animation: moveUpDown 2s ease infinite;
    -webkit-animation: moveUpDown 2s ease infinite;
}


@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vh);
    }
    100% {
        transform: translateY(0);
    }
}
@-webkit-keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3vh);
    }
    100% {
        transform: translateY(0);
    }
}